@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  @apply flex w-dvw h-dvh border-blue-400;
  /* @apply flex w-dvw h-dvh border-2 border-blue-400; */
}

.display-container {
  /* @apply flex-col w-full h-full ; */
  @apply flex-col w-full ;
}

.canvas-wrapper {
  @apply w-full h-3/6;
}

canvas {
  @apply w-full h-full;
}

.controls-container {
  @apply flex w-full h-3/6 border-2 border-green-500;
}

.selector-container {
  @apply flex-col w-6/12 h-full border-pink-500 border-2;
}

.selector {
  @apply flex-col border-2 border-red-500 ;
}

.new-entity-container {
  @apply flex-col w-6/12 border-orange-400 border-2;
}

.new-entity-container {
  @apply flex-col border-orange-400 border-2;
}

.number-input {
  @apply w-20;
}

.text-input {
  @apply w-32;
}

.list-container {
  @apply flex w-full overflow-y-hidden border-green-500 border-2;
  /* @apply flex w-full overflow-y-hidden; */
}

.entity-list {
  @apply w-6/12 overflow-y-scroll border-orange-500 border-2;
  /* @apply w-6/12 overflow-y-scroll ; */
}

.selection-list {
  @apply w-6/12 overflow-y-scroll border-violet-500 border-2;
  /* @apply w-6/12 overflow-y-scroll ; */
}